<div class="center-container" style="margin-top: 6vh;">
<h1 class="white-title"><%= @article.title %></h1>
<h4> posted by <%= link_to @article.user.name, user_path(@article.user)  %> </h4>
<h6><%= pluralize(@article.views, "view")%></h6>

<p style=" font-size:1.4rem; text-align:center; margin-right: 2rem; margin-left: 2rem;"><%= @article.body %></p>

<div>
  <%= link_to "Edit", edit_article_path(@article) %> |
  <%= link_to "Back to articles", articles_path(@article) %>

  <%= button_to "Destroy", article_path(@article), method: :delete %>
</div>

 <h2 class="subtitle" >Comments:</h2>
 <p style=" font-size:1.4rem">The article has <%= @article.comments.public_count %> comments</p>
<%= render @article.comments %>

<h2 class="subtitle">Add a comment:</h2>
<%= render 'comments/form' %>

</div>